.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-long-enter-active,
.fade-long-leave-active {
  transition: opacity 1.5s ease-in-out;
}

.fade-long-enter-from,
.fade-long-leave-to {
  opacity: 0;
}

.fade-short-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease-in-out;
}

.fade-short-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-short-left-enter-active,
.fade-short-left-leave-active {
  transition: all 0.1s ease-out;
}
.fade-short-left-enter-from {
  opacity: 0;
  transform: translateX(20px);
}

.fade-short-left-leave-to {
  opacity: 0;
  transform: translateX(-20px);
}

.fade-short-slide-enter-active,
.fade-short-slide-leave-active {
  transition: all 0.2s ease-out;
}
.fade-short-slide-enter-from,
.fade-short-slide-leave-to {
  opacity: 0;
  transform: translateY(10px);
}

.fade-short-slide-reverse-enter-active,
.fade-short-slide-reverse-leave-active {
  transition: all 0.1s ease-out;
}
.fade-short-slide-reverse-enter-from,
.fade-short-slide-reverse-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}
.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 0.2s;
}
.slide-left-enter-from {
  opacity: 0;
  transform: translate(50px, 0);
}
.slide-left-leave-to {
  opacity: 0;
  transform: translate(-50px, 0);
}
.slide-right-enter-from {
  opacity: 0;
  transform: translate(-50px, 0);
}
.slide-right-leave-to {
  opacity: 0;
  transform: translate(50px, 0);
}

.page-enter-active,
.page-leave-active {
  transition: all 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}